<div class="container">

  <section class="job">
    <div class="job-header job-wrapper">
      <div class="row">
        <div class="col-xs-4 job-owner">
          <img src="/assets/images/jobs/aplazame-white.svg" alt=""/>
        </div>
        <div class="col-xs-8 time-range">${month(text.month.august)} 2015 - <span class="text-uppercase">${text.today}</span></div>
      </div>
    </div>
    <div class="job-box">
      <div class="project">
        <img class="img-wrapper" src="/assets/images/jobs/aplazame.png" alt=""/>
        <div class="project-wrapper">
          <div class="description">${text.jobs.aplazame.role}</div>
          <ul class="tags">
            <li>angular</li>
            <li>sass</li>
            <li>gulp</li>
            <li>webpack</li>
            <li>nitro</li>
            <li>vuejs</li>
          <ul>
        </div>
      </div>
    </div>
  </section>

  <section class="job">
    <div class="job-header job-wrapper">
      <div class="row">
        <div class="col-xs-4 job-owner">
          <img src="/assets/images/jobs/realcom-alt.svg" alt=""/>
        </div>
        <div class="col-xs-8 time-range">${month(text.month.march)} 2014 - ${month(text.month.august)} 2015</div>
      </div>
    </div>

    <div class="job-box">
      <blockquote>Best wishes for all the team!</blockquote>
      <hr/>
      <div class="project">
        <img class="img-wrapper" src="/assets/images/jobs/surexdirect.jpeg" alt=""/>
        <div class="project-wrapper">
          <div class="time-range">${text.month.may} 2014 - ${text.month.august} 2015</div>
          <div class="description">${text.jobs.realcom.surex}</div>
          <ul class="tags">
            <li>angular</li>
            <li>sass</li>
            <li>bootstrap 3</li>
            <li>grunt</li>
          <ul>
        </div>
      </div>
      <hr/>
      <div class="project">
        <img class="img-wrapper" src="/assets/images/jobs/abroadster-logo.svg" alt=""/>
        <div class="project-wrapper">
          <div class="time-range">${text.month.march} 2014 - ${text.month.may} 2014</div>
          <div class="description">${text.jobs.realcom.abroadster}</div>
          <ul class="tags">
            <li>bootstrap 3</li>
            <li>backbone</li>
            <li>coffeescript</li>
            <li>brunch</li>
          <ul>
        </div>
      </div>
    </div>
  </section>

  <section class="job">
    <div class="job-header job-wrapper">
      <div class="row">
        <div class="col-xs-4 job-owner">
          <img src="/assets/images/jobs/isoin.svg" alt=""/>
        </div>
        <div class="col-xs-8 time-range">${month(text.month.august)} 2013 - ${month(text.month.january)} 2014</div>
      </div>
    </div>

    <div class="job-box">
      <div class="project">
        <img class="img-wrapper" src="/assets/images/jobs/hp.svg" alt=""/>
        <div class="project-wrapper">
          <div class="description">${text.jobs.isoin.aida}</div>
          <ul class="tags">
            <li>bootstrap 2</li>
            <li>jquery</li>
            <li>css3</li>
          <ul>
        </div>
      </div>
    </div>
  </section>

  <section class="job">
    <div class="job-header job-wrapper">
      <div class="row">
        <div class="col-xs-4 job-owner">
          <span class="text-job">Freelance</span>
        </div>
        <div class="col-xs-8 time-range">${month(text.month.november)} 2011 - ${month(text.month.august)} 2013</div>
      </div>
    </div>

    <div class="job-box">
      <blockquote>${text.jobs.freelance.quote}</blockquote>
      <hr/>
      <div class="project">
        <img class="img-wrapper" src="/assets/images/jobs/doomus.svg" alt=""/>
        <div class="project-wrapper">
          <div class="description">${text.jobs.freelance.doomus}</div>
          <ul class="tags">
            <li>vanillajs</li>
            <li>php</li>
          <ul>
        </div>
      </div>
    </div>
  </section>

  <section class="job">
    <div class="job-header job-wrapper">
      <div class="row">
        <div class="col-xs-4 job-owner">
          <img src="/assets/images/jobs/ericsson.svg" alt=""/>
        </div>
        <div class="col-xs-8 time-range">${month(text.month.may)} 2006 - ${month(text.month.november)} 2011</div>
      </div>
    </div>

    <div class="job-box">
      <div class="project">
        <img class="img-wrapper" src="/assets/images/jobs/endesa-logo-2.jpg" alt=""/>
        <div class="project-wrapper">
          <div class="description">${text.jobs.endesa.role}</div>
          <ul class="tags">
            <li>SDH</li>
            <li>PDH</li>
            <li>RDSI</li>
          <ul>
        </div>
      </div>
    </div>
  </section>

</div>
