<section class="about-me">
  <div class="container">
    <div class="dialog">${ markdown(text.aboutMe) }</div>
  </div>
</section>

<section class="container-md skills">
  <h3>${text.skillsLabel}</h3>
  $each{ md,skill in text.skills }
  <div class="skill">
    <div class="img-wrapper">
      <img src="assets/images/logos/${skill}.svg" />
    </div>
    <div class="description">${ markdown(md) }</div>
  </div>
  {/}
</section>

<section class="container-md libs">
  <h3>${text.libsLabel}</h3>
  $each{ md,lib in text.libs }
  <div class="skill row">
    <div class="img-wrapper">
      <img src="assets/images/logos/${lib}.svg" />
    </div>
    <div class="description">${ markdown(md) }</div>
  </div>
  {/}
</section>

<section class="timeline">
  <header class="text-center">
    <!-- <span>${text.takeALook}&nbsp;</span> -->
    <div class="icon-text">
      <i class="icon-calendar-check-o"></i>
      <span class="text">${text.timeline}</span>
    </div>
  </header>

  <article class="timeline">$include{timeline}</article>
</section>
